.categories-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    white-space:nowrap;
}

.categories-order {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: white;
    background: black;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 8px 15px;
    margin: 0 10px;
    cursor: pointer;
}

@media screen and (max-width : 600px){
    .categories-order{
        font-size: 15px;
        white-space:nowrap;
        margin: 5px 5px;
        padding: 5px 8px;
        text-align: center;
    }
    .categories-block{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
}