.table-box {
    font-family: 'Montserrat', sans-serif;
    margin:0 5px
}

th, td {
    border: hidden !important;
    padding: .65em;
}

th {
    background: black;
    color: #fff;
}

tbody tr:nth-child(odd) {
    background: #ddd;
}